@import url("reset.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
body {
  background-color: black;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
}
.nav {
  display: flex;
  background-color: rgb(199, 181, 148);
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  width: 100vw;
  font-size: 20px;
}
.nav__home {
  margin-left: 2rem;
  margin-right: 3rem;
}
.nav__sub {
  display: flex;
  margin-right: 2rem;
}
.nav__sub__about {
  margin-right: 3rem;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

section {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;
}
.title-img {
  margin-bottom: 1rem;
}

.button-Div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 2.4rem;
  text-align: center;
}
.button-Div__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 650px;
  height: 100px;
  border-radius: 10px;
  background-color: rgb(199, 181, 148);
  color: white;
  font-weight: 600;
  font-size: 22px;
  text-align: center;
}
.button-a {
  margin-bottom: 2.5rem;
}

@media screen and (max-width: 767px) {
  .titleImg {
    width: 350px;
  }
  .subTitleImg {
    width: 250px;
  }
  .button-Div__button {
    width: 400px;
    height: 80px;
 
  }
}
