<!DOCTYPE html>
<html lang="ko">
{% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'users/css/assess.css' %}" type="text/css" />
    <title>Mission24</title>
  </head>
  <body>
    <nav class="nav">
      <a href="/" class="nav__home">MISSON24</a>
      <div class="nav__sub">
        <a href="" class="nav__sub__about">ABOUT</a>
        <a href="/logout" class="nav__sub__login">LOGOUT</a>
      </div>
    </nav>

    <div class="upword">
      <a href="/assess">PEER GROUP 평가하기</a> 
    </div>
    <div class="middleword">
        투표는 최대 5팀까지 가능합니다. <br>
        내가 투표한 팀은 빨간색 외곽선 효과가 나타납니다. <br>
        클릭시 상세 페이지로 이동합니다.
    </div>

    <section>
        <div class="button-Div">
        {% for list in listall %}
            <a class="button-a">
                {% if list.value == 1%}
                <div class="button-Div__button clicked" onclick="location.href='./{{list.pk}}';">
                {% else%}
                <div class="button-Div__button" onclick="location.href='./{{list.pk}}';">  
                {% endif %}  
                    <a class="forloopCount">{{forloop.counter}} / {{num}}</a>
                    <a class="teamName">{{list.team_name}}

                      
                    </a>
                    <p class="arrow_box">{{list.team_members}}</p>
                    <img
                    class="iconHuman"
                    src="{% static 'users/img/iconHuman.png' %}"
                    alt="사람 아이콘"
                    />
                </div>   
            </a>
        {% endfor %}
        </div>

    </section>
    {% for message in messages %}
    <script type="text/javascript">
      alert('최대 5개까지 투표 가능합니다.');
    </script>
    {% endfor %}
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script>
      window.addEventListener( "pageshow", function ( event ) {
        var historyTraversal = event.persisted || ( typeof window.performance != "undefined" && window.performance.navigation.type === 2 );
        if ( historyTraversal ) {
          // Handle page restore.
          window.location.reload();
        }
      });
     $('.iconHuman').mouseover(function(){
     
     $this = $(this);
     $this.prev().css("color","red");
     })
     $('.iconHuman').mouseout(function(){
     
     $this = $(this);
     $this.prev().css("color","#d9d9d9");
     })
    </script>
  </body>
</html>
