<!DOCTYPE html>
<html lang="ko">
{% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'users/css/assess_detail.css' %}" type="text/css" />
    <title>Mission24</title>
  </head>
  <body>
    <nav class="nav">
      <a href="/" class="nav__home">MISSON24</a>
      <div class="nav__sub">
        <a href="" class="nav__sub__about">ABOUT</a>
        <a href="/logout" class="nav__sub__login">LOGOUT</a>
      </div>
    </nav>

    <div class="upword">
        <a href="/assess">PEER GROUP 평가하기</a>
    </div>
    <section>
    <div class="container">

      <div class="btnWrap">
        {% if prevID != None  %}
        <img class="btnImg" onclick="javascript:location.href='/assess/{{prevID}}'" src="{% static 'users/img/nextL.png' %}">
        {% endif %}
      </div>

      <div class="content">
        {% if value == 1 %}
        <img style="width: 2rem; margin-left: 21rem; margin-top:1rem; position:absolute;" src="{% static 'users/img/heart-solid.png' %}">
        {% endif %}
        <a class="contentTitle">
            {{assess.team_name}}
        </a>
        <div style="width: 600px; height: 430px; margin: 0 auto;">
        <div class="slider" style=" height: 430px;">
          <input type="radio" name="slide" id="slide1" checked>
          <input type="radio" name="slide" id="slide2">
          <input type="radio" name="slide" id="slide3">
          <input type="radio" name="slide" id="slide4">
          <input type="radio" name="slide" id="slide5">
          <ul id="imgholder" class="imgs">
              <li>{{assess.intro_text}}</li>
              <li><img src="../../media/{{assess.image1}}" style="height: 380px"></li>
              <li><img src="../../media/{{assess.image2}}" style="height: 380px"></li>
              <li><img src="../../media/{{assess.image3}}" style="height: 380px"></li>
              <li><img src="../../media/{{assess.image4}}" style="height: 380px"></li>
          </ul>
          <div class="bullets">
            <label for="slide1">&nbsp;</label>
            <label for="slide2">&nbsp;</label>
            <label for="slide3">&nbsp;</label>
            <label for="slide4">&nbsp;</label>
            <label for="slide5">&nbsp;</label>
          </div>
        </div>
        </div>

      </div>

      <div class="btnWrap">
        {% if nextID != None  %}
        <img class="btnImg" onclick="javascript:location.href='/assess/{{nextID}}'" src="{% static 'users/img/nextR.png' %}">
        {% endif %}
      </div>
      <form method="POST" action=".">
        {% csrf_token %}
        <button class="submitButton" type="submit">
          {% if value == 0 %}
          투표하기
          {% else %}
          투표취소
          {% endif %}
        </button>
      </form>
    </div>
    </section>
  </body>
</html>
