<!DOCTYPE html>
<html lang="ko">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'users/css/main.css' %}" type="text/css" />
    <title>Mission24</title>
  </head>
  <body>
    <nav class="nav">
      <a href="/" class="nav__home">MISSON24</a>
      <div class="nav__sub">
        <a class="nav__sub__about">ABOUT</a>
        {% if user.is_active %}
        <a class="nav__sub__login" href="/logout">LOGOUT</a>
        {% else %}
        <a class="nav__sub__login" href="/">LOGIN</a>
        {% endif %}
      </div>
    </nav>
    <section>
      <div class="title-img">
        <img
          class="titleImg"
          src="{% static 'users/img/titleImg.png' %}"
          alt="Mission24"
        />
      </div>
      <div class="subTitle-img">
        <img
          class="subTitleImg"
          src="{% static 'users/img/subTitle.png' %}"
          alt="평가 페이지"
        />
      </div>

      <div class="button-Div">
        <a class="button-a" href="/register">
          <div class="button-Div__button">HACKATON 결과물 등록하기</div>
        </a>

        <a class="button-a" href="/assess">
          <div class="button-Div__button">PEER GROUP 평가하기</div>
        </a>
      </div>
      <div><img src="{% static 'users/img/footerImg.png' %}" alt="location" /></div>
    </section>
  </body>
</html>
