<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mission24</title>
    <link rel="stylesheet" href="/static/users/css/login.css" type="text/css" />
  </head>
  <body>
    <nav class="nav">
      <a href="./main.html" class="nav__home">MISSON24</a>
      <div class="nav__sub">
        <a class="nav__sub__about">ABOUT</a>
        <a class="nav__sub__login">LOGIN</a>
      </div>
    </nav>
    <section>
      <div class="title-img">
        <img
          class="titleImg"
          src="/static/users/img/titleImg.png"
          alt="Mission24"
        />
      </div>
      <div class="subTitle-img">
        <img
          class="subTitleImg"
          src="/static/users/img/subTitle.png"
          alt="평가 페이지"
        />
      </div>
      <form class="formDiv" action="">
        <div class="id-Div">
          <label class="id-label" for="">이름</label>
          <input class="idInput" type="text" />
        </div>
        <div class="password-Div">
          <label class="password-label" for=""
            >비밀번호 (휴대푠 뒷 자리 4자리)</label
          >
          <input class="passwordInput" type="password" />
        </div>

        <button class="submitButton" type="submit">로그인</button>
      </form>
      <div><img src="/static/users/img/footerImg.png" alt="location" /></div>
    </section>
  </body>
</html>
